@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffdd0; /* Creamy background color */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #333;
  background-color: var(--background);
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.circle {
  background-color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  font-weight: bold;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  font-weight: bold;
}

button {
  font-weight: bold;
}
